<h3>Create Sub</h3>

<%= errors_block flash[:errors] %>

<form action="<%= subs_url %>" method="post">

  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

  <label for="Title">Title</label>
  <input id="Title" type="text" name="sub[title]" value="">

  <label for="Description">Description</label>
  <input id="Description" type="text" name="sub[description]" value="">

  <input type="submit" name="" value="Create Sub">


</form>
