<h1>Add new User!</h1>

<form action="/users" method="post">
  <label for="username">Username: </label>
  <input id="username" type="text" name="user[username]">
  <br><br>
  <input type="submit" name="" value="Add new user">
</form>
